<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Meal Plan</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>Edit Meal Plan</header>
<div class="content">
  <form th:action="@{/meal-plans/edit/{id}(id=${mealPlan.mealPlanId})}" method="post">
    <input type="text" name="planName" th:value="${mealPlan.planName}" required>
    <input type="text" name="description" th:value="${mealPlan.description}" required>
    <input type="text" name="dietaryRestriction" th:value="${mealPlan.dietaryRestriction}" required>
    <input type="date" name="startDate" th:value="${mealPlan.startDate}" required>
    <input type="date" name="endDate" th:value="${mealPlan.endDate}" required>
    <button type="submit">Update</button>
  </form>
</div>
</body>
</html>
