<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="login-container">
  <h1>Login</h1>

  <div th:if="${param.error}" style="color:red;">
    Invalid email or password. Please try again.
  </div>
  <div th:if="${param.logout}" style="color:green;">
    You have been logged out successfully.
  </div>
  <div th:if="${param.registered}" style="color:blue;">
    Registration was successful! Please login.
  </div>

  <form th:action="@{/login}" method="post">
    <div th:replace="~{fragments/csrf :: csrf}"></div>
    <div>
      <label for="email">Email:</label>
      <input id="email" name="email" type="text" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" required>
    </div>
    <button type="submit">Login</button>
  </form>

  <p>Don't have an account? <a th:href="@{/register}">Register Here</a></p>
</div>
</body>
</html>




