<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Meal Plan</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>Edit Meal Plan</header>
<div class="content">
    <form th:action="@{/meal-plans/edit/{id}(id=${mealPlan.mealPlanId})}" method="post" th:object="${mealPlan}">
        <label for="planName">Plan Name:</label>
        <input type="text" id="planName" name="planName" th:value="*{planName}" required><br>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" th:value="*{description}" required><br>

        <label for="dietaryRestriction">Dietary Restriction:</label>
        <input type="text" id="dietaryRestriction" name="dietaryRestriction" th:value="*{dietaryRestriction}"><br>

        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" th:value="*{startDate}" required><br>

        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" th:value="*{endDate}" required><br>

        <button type="submit" class="btn">Save Changes</button>
    </form>
</div>
</body>
</html>
