<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Meal Plans</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
  <h1>Meal Plans</h1>
  <nav>
    <ul>
      <li><a th:href="@{/dashboard}">Dashboard</a></li>
      <li><a th:href="@{/meal-plans}">Meal Plans</a></li>
    </ul>
  </nav>
</header>
<div class="content">
  <!-- Button to add a new meal plan -->
  <a th:href="@{/meal-plans/add}" class="add-button">Add New Meal Plan</a>

  <!-- List of Meal Plans -->
  <div th:each="mealPlan : ${mealPlans}" class="meal-plan-card">
    <h3 th:text="${mealPlan.planName}"></h3>
    <p th:text="'Description: ' + ${mealPlan.description}"></p>
    <p th:text="'Dietary Restriction: ' + ${mealPlan.dietaryRestriction}"></p>
    <p th:text="'Start Date: ' + ${mealPlan.startDate}"></p>
    <p th:text="'End Date: ' + ${mealPlan.endDate}"></p>
    <div class="actions">
      <!-- "Go" button takes you to the Meal Plan Details page (which is at /meal-plans/{id}/meals) -->
      <a th:href="@{'/meal-plans/' + ${mealPlan.mealPlanId} + '/meals'}" class="edit-button">Go</a>
      <!-- "Delete" button removes the meal plan -->
      <a th:href="@{'/meal-plans/delete/' + ${mealPlan.mealPlanId}}" class="delete-button">Delete</a>
    </div>
  </div>
</div>
</body>
</html>


