<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>Settings</header>
<div class="content">
    <div class="settings-buttons">
        <!-- Only Logout button remains. -->
        <a th:href="@{/logout}" class="logout-button">Logout</a>
    </div>
    <br/>
    <a th:href="@{/dashboard}" class="back-button">Back to Dashboard</a>
</div>
</body>
</html>

